@font-face {
    font-family: 'Apercu';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url(Apercu_Bold.otf);
}
@font-face {
    font-family: 'Apercu';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(Apercu_Light.otf);
}
a,
a:hover,
a:active {
    text-decoration: none;
}
.pt-80{
    padding-top:80px;
}
h4{
    font-size:34px;
    text-transform: capitalize;
    font-weight: 600;
    margin-bottom:15px;
}
h6{
    font-size:16px;
    font-weight: 600;
}
ul {
    padding: 0;
    margin: 0;
    list-style: none;
}
.container-fluid{
    padding-left:100px;
    padding-right:100px;
}
body {
    font-size: 14px;
    letter-spacing:1px;
    font-weight: 400;
    font-family: 'Apercu';
    background-color: #fff;
    color: #262729;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index:100;
    height: 60px;
    background-color: transparent;
}
header.grey{
    background-color: #262729;
}
.logo{
    line-height:60px;
}
.menu li{
    display:inline-block;
    line-height: 60px;
}
.menu li:first-child{
    margin-right:30px;
}
.menu li a{
    color:#fff;
}
.menu li a i{
    font-size:14px;
}
.btn.btn-white{
    background-color: #fff;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -o-border-radius: 0px;
    text-transform: uppercase;
    color:#262729;
    font-size:14px;
    font-weight: 600;
}
.banner{
    background: #262729 url("../images/hero.jpg") no-repeat center center / cover;
    height:100vh;
}
.banner .d-middle{
    background-color: rgba(0,0,0,0.5);
}
.d-middle{
    display:table;
    width:100%;
    height:100%;
}
.d-middle-child{
    display:table-cell;
    vertical-align: middle;
    text-align: center;
}
.banner h2{
    color:#fff;
    font-size:28px;
    font-weight:600;
    line-height: 54px;
    font-size:60px;
    text-transform: uppercase;
    letter-spacing: 0px;
}
.banner h5{
    color:#fff;
    font-size:20px;
    text-transform: uppercase;
}
.banner-bottom{
    background-color: #262729;
    padding:25px 0;
}
.banner-bottom p{
    font-size:18px;
    color:#fff;
    text-align: center;
    margin:0;
}
.banner-bottom i{
    font-size: 40px;
    margin-right:15px;
    vertical-align: middle;
    color:#fff;
}
.box{
    padding:60px;
    border:1px solid #eee;
    background-color: #fcfcfa;
}
.box p{
    margin:15px 0 0 0;
    font-size:16px;
}
.box i{
    font-size:28px;
}
.youtube{
    position: absolute;
    right:0;
    top:-40px;
    z-index:1;
    width:50%;
    height:calc(100% + 80px);
    height:-webkit-calc(100% + 80px);
    height:-o-calc(100% + 80px);
    height:-moz-calc(100% + 80px);
}
.youtube iframe{
    border:0;
    width: 100%;
    height:100%;
}
.not-youtube{
    position: relative;
    z-index: 2;
    margin:40px 0;
}
.youtube.left{
    right:auto;
    left:0;
}
.location iframe{
    width:100%;
    margin-top:20px;
    height:420px;
    border:0;
}
.card{
    border-radius:0px;
    -webkit-border-radius:0px;
    -moz-border-radius:0px;
    -o-border-radius:0px;
    box-shadow: 0 0 2px rgba(0,0,0,0.1);
    background-color: #fcfdf8;
}
.card .image{
    background-color: #f1f1f1;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    height:170px;
    width:100%;
    margin-bottom: 20px;
}
.card-px{
    padding-left:15px;
    padding-right:15px;
}
.bold-light{
    font-weight: 600;
    opacity: 0.6;
}
.card h5{
    font-size: 22px;
    font-weight: 600;
    text-transform: capitalize;
}
.card .grey{
    background-color: #f5f6f1;
}
ul.dots{
    list-style: disc;
    margin-left:18px;
    opacity: 0.8;
}
.btn.btn-primary{
    background-color: #5499c3;
    border-radius: 5px;
    font-size: 14px;
    text-transform: capitalize;
    border:1px solid #5499c3;
}
footer{
    background-color: #262729;
    padding:25px 0;
    color:#fff;
    opacity: 0.8;
    font-size: 12px;
}
.bg-sec{
    margin-top:80px;
    background: #262729 url("../images/bg.jpg") no-repeat fixed center center / cover;
}
.bg-sec .container-fluid{
    background-color: rgba(0,0,0,0.5);
    padding-top:80px;
    padding-bottom:80px;
}
.form{
    width:500px;
    margin:0 auto;
    background-color: #fff;
    padding:50px
}
.form-group label{
    font-weight: 600;
    font-size: 14px;
}
.form-control{
    border-radius: 2px;
    font-size: 14px;
    padding: 10px 15px;
    height:auto;
    border:1px solid #ddd;
}
.form-control::placeholder{
    opacity: 0.7;
}
.form-group .dropdown-toggle{
    border-radius: 2px;
    font-size: 14px;
    padding: 10px 15px;
    height:auto;
    border:1px solid #ddd;
    display: block;
    width:100%;
    text-align: left;
    opacity: 0.8;
}
.form-group .dropdown-toggle::after{
    position: absolute;right:15px;
    top:18px;
}
.btn.btn-orange{
    border-radius:5px;
    background-color: #ffcf72;
    color:#262729;
    font-size: 14px;
    font-weight: 600;
}
.link{
    color:#5499c3;
}
.link i{
    font-size: 14px;
}
.resp-btn{
    display:none;
}
@media screen and (max-width:1024px){
    .container-fluid{
        padding-left:15px;
        padding-right:15px;
    }
    .banner-bottom p{
        font-size: 14px;
    }
    .banner-bottom i{
        font-size: 28px;
        margin-right:0;
    }
    .card{
        margin-bottom:30px;
    }
}
@media screen and (max-width:767px){
    .banner h2{
        font-size: 28px;
        line-height:28px;
    }
    .banner-bottom{
        padding:15px 0;
    }
    .banner-bottom p{
        margin-bottom:10px;
    }
    .banner-bottom .col-md-4:last-child p{
        margin:0;
    }
    .menu li:first-child{
        margin-right:0;
    }
    .menu li:last-child{
        display:none;
    }
    .resp-btn{
        display:block;
        cursor: pointer;
    }
    h4{
        font-size: 22px;
    }
    .form{
        width:100%;
        padding: 25px;
    }
    .box{
        padding:25px 15px;
    }
    .youtube,.youtube.left{
        position: relative;
        top:0px;
        width:100%;
        height:200px;
    }
    .not-youtube{
        margin:0;
    }
}